{% extends "homebase.html" %}

{% block title %}About Us-{{setting.title}}  {% endblock title %}
{% block keywords %} {{setting.keywords}}  {% endblock keywords %}
{% block description %} {{setting.description}}  {% endblock description %}

<!--Start block sidebar ================ -->
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock sidebar %}

   
   <!--Start block slider ================ -->
   {% block slider %}
       
   {% endblock slider %}

  <!--Start block body  ================ -->
  {% block body %}
   <!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">About Us</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                {{setting.aboutus|safe}}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
  {% endblock body %}


<!--Start block footer ================ -->
    {% block foot %}
       
    {% endblock foot %}