{% extends "homebase.html" %}

{% block title %} {{setting.title}}  {% endblock title %}
{% block keywords %} {{setting.keywords}}  {% endblock keywords %}
{% block description %} {{setting.description}}  {% endblock description %}

   <!--Start block sidebar ================ -->
   {% block sidebar %}
        {% include 'sidebar.html' %}
   {% endblock sidebar %}

   
   <!--Start block slider ================ -->
   {% block slider %}
        {% include 'slider.html' %}
   {% endblock slider %}
       
   <!--Start block body  ================ -->
   {% block body %}
        {% include 'content.html' %}
   {% endblock body %}

   <!--Start block footer ================ -->
   {% block foot %}
       
   {% endblock foot %}