{% extends "homebase.html" %}
<!--Start block title ================ -->
{% block title %} Sign Up {% endblock title %}
<!--Start block keywords ================ -->
{% block keywords %} {{setting.keywords}} {% endblock keywords %}
<!--Start block description ================ -->
{% block description %} {{setting.description}} {% endblock description %}

<!--Start block sidebar ================ -->
{% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

<!--Start block slider ================ -->
{% block slider %} {% endblock slider %}

<!--Start block body  ================ -->
{% block body %}
<!-- BREADCRUMB -->
<div id="breadcrumb">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Sign Up</li>
    </ul>
  </div>
</div>
<!-- /BREADCRUMB -->
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-3"> </div>
                <div class="col-md-6">
                    <div class="billing-details">

                        <div class="section-title">
                            <h3 class="title">Sign Up Form</h3>
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            <button type="submit" class="primary-btn">Sign up</button>
                        </form>



                    </div>
                </div>

				<div class="col-md-3"> </div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock body %}

<!--Start block footer ================ -->
{% block foot %} 

{% endblock foot %}
